.container {
    padding-bottom: 40px;
}

.movies__list {
    width: 83%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
   
}

/* 
@media (min-width: 601px) {
    .movies__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .movies__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */


.seeMore__btn {
    display: block;
    color: white;
    background-color: rgb(12, 193, 193);
    border-radius: 4px;
    margin: auto;
    border: none;
    outline: none;
    width: 90px;
    height: 28px;
    cursor: pointer;
}